.App {
  width: 100%;
  min-height: 100vh;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  display: flex;
  gap: 2em;

}

/* LEFTBAR */
.grid-leftbar {
  background-color: var(--Dark-blue);
  border-radius: 1em;
  max-width: 18rem; 
  font-size: 26px;
}
.grid-leftbar > * {
  padding: 1.75em;
  border-radius: 1em;
  line-height: 0;
}


/*Lefbar Profile*/

.grid-leftbar-profile {
  background-color: var(--Blue);
  display: flex; 
  flex-direction: column;
  gap: 1em;
}
.grid-leftbar-profile > * {
  margin-top: 0;
  line-height: 2;
}

.profile-img {
  max-width: 5rem;
  border: 0.25rem solid white;
  border-radius: 50%;
  height: auto;
}
.by-tag {
  margin-bottom: 0;
  font-size: 0.75em;
}

.name {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.25;
  margin-top: 0;
}


/*Leftbar- Bar*/
.grid-leftbar-timebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}
.title-time-lapsus {
  color: var(--Pale-Blue);
  text-decoration: none;
}
.active {
  text-decoration: none;  
  color: white ;
}


/* MAIN GRID*/
h2 {
  font-size: 1em;
}
.timecards-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax( min-content, 17rem));
  grid-auto-rows: auto;
  gap: 2em;
  max-width: 100%;
}
/*Main grid body*/
.card-activity {
  border-radius: 1em;
  height: min-content;
}
/*Top layouts */
.card-top-layout {
  height: 2.5em;
  overflow: hidden;
  position: relative;
}
.card-icon {
  position: absolute;
  right: 1rem;
  top: -1rem;
  max-width: 88px;
  width: 100%;
  
}
.work-layout {
  background-color: var(--Light-red-work);
}
.play-layout {
  background-color: var(--Soft-blue-play);
}
.study-layout {
  background-color: var(--Light-red-study);
}
.exercise-layout {
  background-color: var(--Lime-green-exercise);
}
.social-layout {
  background-color: var(--Violet-social);
}
.selfcare-layout {
  background-color: var(--Soft-orange-selfcare);
}

/*Body cards*/
.card-body {
  background-color: var(--Dark-blue);
  padding: 2.25em;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-radius: 1em;
  line-height: 1.5;
}
.card-body:hover {
  cursor: pointer;
  background-color: hsl(235, 46%, 35%);;
}
.card-body-time > * {
  margin: 0rem 0rem 0em 0rem;
}
.card-body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  line-height: 0;
  margin-bottom: 1.5em;
}
.title-activity {
  font-weight: 500;
  margin: 0;
}
.current-time {
  font-size: 3em;

}
.btn-more {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
path:hover{
  fill: white;

}
.btn-more:hover {
  transform: translateY(-2px);
}


/*Medium design */
@media (max-width: 1067px) {

  .timecards-grid {
    grid-template-columns: repeat(2, minmax( min-content, 17rem));
  }

}
/*Mobile- smallest design*/
@media (max-width: 834px) {
  h2 {
    margin:  0.5em;
  }
  .App {
    font-size: 12px;

  }
  .grid-container {
    flex-direction: column;
  }
  
  .timecards-grid {
    grid-template-columns: 1fr;
  
  }

  .grid-leftbar-profile {
    font-size: 12px;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    
  }

  .profile-img {
    max-height: 3rem;
  }

  .grid-leftbar-timebar {
    flex-direction: row;
    font-size: 14px;
  }
  .card-body-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.5;
    margin: 0;  
  }
  .current-time {
    font-size: 27px;
  }

}